body {
    color: wheat;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(station.jpeg);
    background-size: cover;
    text-shadow: 1px 1px 1px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding: 10px 0;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
    margin-top: 10px;
}

.save-el {
    margin-bottom: 5px;
    font-size: 30px;
}

